<!DOCTYPE html>
<!-- Coding by Areeb Sheikh -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Color Border Animation with Glowing Effects</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="outside">
            <div class="card">
                <h1>CodingHub</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet tempore, quasi quibusdam, ipsum omnis placeat, nihil facere a tenetur vitae veritatis possimus officiis sint optio. Expedita eius earum aspernatur minima facere sed dignissimos quod? Quas?</p>
            </div>
        </div>
    </div>
</body>
</html>