<!DOCTYPE html>
<!-- Coding by Areeb Sheikh -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card | Areeb Sheikh</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main-box">
        <div class="content">
            <input type="checkbox" id="check">
            <label for="check" class="box">
                <div class="share">Share</div>
                <div class="cencel">Cencel</div>
            </label>
            <div class="image-box">
                <img src="profile.jpeg" alt="Profile Image">
                <div class="about">
                    <div class="details">
                        <div class="name">Grey Phoenix</div>
                        <div class="job">Singer | Dancer</div>
                        <div class="icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>