* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px #bababa;
    overflow: hidden;
    position: relative;
}
.box img {
    width: 100%;
    height: auto;
    display: block;
}
.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box .box-content::before,
.box .box-content::after {
    content: "";
    width: 95%;
    height: 47%;
    position: absolute;
    background: #e01e48;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.box .box-content::before {
    top: -20%;
}
.box .box-content::after {
    bottom: -20%;
}
.box:hover .box-content::before {
    top: 3%;
    opacity: 0.7;
}
.box:hover .box-content::after {
    bottom: 3%;
    opacity: 0.7;
}
.box .content {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
    color: #fff;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.box:hover .content {
    opacity: 1;
    transform: rotate(0deg);

}
.content .title {
    font-size: 28px;
    text-transform: capitalize;
}
.content .post {
    font-size: 14px;
    text-transform: capitalize;
}