<!DOCTYPE html>
<!-- Coding by Areeb Sheikh -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Product Card | Areeb Sheikh</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="box one">
            <div class="details">
                <div class="topic">Description</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima sunt ipsam eaque, assumenda voluptatibus, vitae aut nulla earum consequatur possimus amet dolorem suscipit voluptate! Eius quod fugiat consequuntur tenetur quo.</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>          
                <div class="price-box">
                    <div class="discount">$1800.00</div>
                    <div class="price">$1500.00</div>
                </div>
            </div>
            <div class="button-1">
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="box two">
            <div class="image-box">
                <div class="image">
                    <img src="img/camera.png" alt="Product Image">
                </div>
                <div class="info">
                    <div class="brand">SONY</div>                
                    <div class="name">SONY ALPHA A7 Kit</div>
                    <div class="shipping">FREE SHIPPING</div>
                    <div class="button-2">
                        <button>Login For More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>