<!DOCTYPE html>
<!-- Coding by Areeb Sheikh -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Rotation Animation</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div class="container">
        <div class="cane">
            <div class="pack" style="--bg : url(img/bg1.jpeg)"></div>
            <div class="pack" style="--bg : url(img/bg2.jpg)"></div>
        </div>
    </div>
</body>
</html>